body{
    margin: auto;
}

.top-bar{
    background-color: #31445E;
    overflow: hidden;
    
}
.top-bar h1{
    color: white;
    text-align: center;
    font: bold;
	font-family: Calibri;
    float: center;
    font-size:40px;
}
.logo{
    position:fixed; 
	top: 0; 
	left: 0; 
}