body {
    margin: auto; 
    height:100%;
    width: 100%;
    position: absolute;
    resize: none;
    align-content: center;
  }

#countdown{
    color: #FEED72;
    font-size: 20px;
    position: absolute;
    /*padding: 5px;
    border: red;*/
    border-style:outset;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%)
}

.box{
    background-color: red;
    position:absolute;
    width: 100%;
    height: 100px;
    z-index: 3;
}
#img_container {
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
    background: url('panorama.jpg');
    background-size: auto 100%;
    background-position: left;
    animation: pan 45s infinite;

}
  
@keyframes pan {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}
.top-bar{
    background-color: #31445E;
    overflow: hidden;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 15%
    
}
.top-bar h1{
    color:#FEED72;
    text-align: center;
    font: bold;
	font-family: Calibri;
    float: center;
    font-size:40px;
}

.guess-dropdown{
    z-index: 2;
    width: 30%;
    height: 30%;
    position:relative;
}

.logo{
    position:fixed; 
	top: 0; 
	left: 0; 
}

.map-container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff!important;
    text-align: center;
    
}
.map-container iframe{
    width: 100%;
    height: 100%;
}

.map-container .loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(133, 133, 143);
    border-bottom: 16px solid rgb(133, 133, 143);
    width: 120px;
    height: 120px;
    margin-top: 20%;
    margin-left: 45%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.bottom-bar{
    background-color: #31445E;
    z-index: 2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: inline-block; /*was flex*/
    box-shadow: black;
    text-align: left; /*was center*/

    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

#guess-background{
    display: block;
    text-align: center;
}

#guess-form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 1%;
}

.pop-up{
    text-align: center;
    width: 600px;
    height: 400px;
    background: #d5e1e3;
    opacity: 90%;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 20px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pop-up h1{
    color:#31445E;
    text-align: center;
    font: bold;
	font-family: Calibri;
    float: center;
    font-size: 40px;
}

.pop-up p{
    color:#31445E;
    text-align: center;
	font-family: Calibri;
    float: center;
    font-size: 23px;
}

.hide {
    display: none;
}

#score{
    color: #FEED72;
    font-size: 20px;
    position: absolute;
    border-style:outset;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#submit-button{
    font-size: 20px;
    width: auto;
    height: auto;
    color: #FEED72;
    font-size: 20px;
    background-color: #31445E;
}

#guess-text{
    color: #FEED72;
    font-size: 20px;
}

#gameover h2{
    color:#31445E;
    text-align: center;
    font: bold;
	font-family: Calibri;
    float: center;
    font-size: 40px;
}

#gameover p2{
    color:#31445E;
    text-align: center;
	font-family: Calibri;
    float: center;
    font-size: 21px;
}


