body {
    margin: auto; 
    height:100%;
    width: 100%;
    position: absolute;
    resize: none;
    align-content: center;
  }

#img_container {
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
    background: url('panorama.jpg');
    background-size: auto 100%;
    background-position: left;
    animation: pan 45s infinite;

}
  
@keyframes pan {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.top-bar{
    background-color: #31445E;
    overflow: hidden; 
}

.top-bar h1{
    color:#FEED72;
    text-align: center;
    font: bold;
    font-family: Calibri;
    float: center;
    font-size:40px;
}

.logo{
    position:fixed; 
    top: 0; 
    left: 0; 
}

.background-tint {
    filter: drop-shadow(140%) saturate(200%) brightness(70%) hue-rotate(330deg);
  }

.bottom-bar{
    background-color: #B1D7E7;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: black;
}

#pop-up{
    text-align: center;
    width: 600px;
    height: 400px;
    background: #d5e1e3;
    opacity: 90%;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#pop-up h1{
    color:#31445E;
    text-align: center;
    font: bold;
    font-family: Calibri;
    float: center;
    font-size: 40px;
}

#pop-up p{
    color:#31445E;
    text-align: center;
    font-family: Calibri;
    float: center;
    font-size: 23px;
}

#countdown {
    color: #31445E;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}